%h1
  Kurskalender für #{I18n.l(@date, :format => :month_with_year)}
= link_to "Zurück zu #{@course.course_category}", @course.course_category
= month_calendar_pagination(@date)
= month_calendar @date, @course_dates, display_method: :course, start_day: :monday