.course-date{:id => "course-date_#{@course_date.to_param}"}
  %h1= link_to @course_date.course_category.to_s, @course_date.course_category
  %h2= link_to @course_date.course.to_s, @course_date.course
  %h3= @course_date
  .course_date-description
    = @course_date.description